body{
    margin: 0;
    padding: 0;
    background: url("Assets/bg2.jpg");
    font-family: sans-serif;
}

body div{
    border-radius: 15px;
    opacity: 0.75;
}

.regBox{
    width: 320px;
    height: 620px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: -10px;
    padding: 0 0 40px;
    text-align: center;
    font-size: 30px;
}

.regBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    position: relative;
}

.regBox input{
    width: 100%;
    margin-bottom: 20px;
}

.regBox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.regBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #a50f0f;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.regBox input[type="submit"]:hover {
    cursor: pointer;
    background: #8B210B;
    color: #000;
}

.regBox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    
}

.regBox a:hover{
    columns: #ffc107;
}
