
.contribute {
    min-height: 100px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    
}


.contribute-content {
    display: flex;
    align-items: center;
    text-decoration: none; 
}

.info-card {
    width: 300px;
    margin: 50px 50px;
    height: 400px;
    padding: 0 30px;
    transition: all 0.2s;
    
}

.info-card:hover {
    /* filter: drop-shadow() */
    box-shadow: 0px 4px 18px #0000002b;
    background-color:rgba(255,255,255,0.0);

}

.card-image img{
    background: #bebebe;
    height: 180px;
    width: 180px;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% 50%);
    justify-content:center;
    align-items:center;
    margin: 20px auto;
    display: grid;
    
}




.card-title {
    font-family: 'Ramabhadra',
        sans-serif;
    font-size: 1.5em;
    color: #fff;
    font-weight: bolder;
    text-align: center;
}

.card-content {
    font-family: 'Righteous',
        sans-serif;
    font-size: 1.1em;
    color: #fff;
    text-align: center;
}













*{
    margin:0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
}

a{
    text-decoration:none;
}

.container{
    width: 100%;
    height: 100vh;
    background-color:rgb(22, 89, 130);
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bg.jpg);
    background-size:2300px;
    background-position:center;
    background-repeat:no-repeat;
}

.header{
    height: 15%;
    display: flex;
    align-items: center;
    float:right;
    overflow: hidden;
    position: relative;
}


.logo{
    width: 200px;
    cursor: pointer; 
}

ul{
    float: right;
    text-align: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    /* float:right; */
    display: inline-block;
}

.header .main ul li a{
    text-decoration: none;
    align-items: right;
    color:rgb(255, 255, 255);
    padding: 5px 20px;
    
    
}

ul li a:hover{
    background-color:rgb(0,0,0);
    color:#000;
    transition: 0.5s ease;
    border-radius: 6px;
}

.header .btn{
    float: right;
}

.btn{
    cursor:pointer;
    color:black;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 10px 30px;
    border: 2px solid white;
    background:white;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    margin:40px 8px;
    transition:0.5s;
    border-radius: 8px;
}

.btn:hover {
    color: #fff;
    background-color:rgb(184, 184, 184);
}

.btn a{
    color:white;
    float: right;
}

.btn a:visited{
    background-color:rgb(184, 184, 184);
    color:#000;
}



.btn a:link{
    text-decoration: none;
}

img{
    width:15%;
    height:auto;
}

.content{
    text-align:center;
    margin-top:12%;
}

.content h1{
    font-size: 80px;
    color:white;
}